@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
$w3: 300;
$w4: 400;
$w7: 700;
$s1: 1rem;
$s2: 2rem;
$s10: 10px;
$s12: 12px;
$s13: 13px;
$s14: 14px;
$s15: 15px;
$s16: 16px;
$s11: 11px;
$s18: 18px;
$flex: flex;
$col: column;
$center: center;
$bg-white: #fff;
$color-primary: hsl(233, 26%, 24%);
$color-text: hsl(233, 8%, 62%);
$color-secondary: hsl(220, 16%, 96%);
$color-hover: #76b29c;
$color-hover-footer: #30c486;
$gradiant: linear-gradient(
  to right,
  #2dd264,
  #25d070,
  #20ce7a,
  #20cc84,
  #24ca8c,
  #0fc898,
  #00c6a2,
  #00c4ab,
  #00c1b9,
  #00bec4,
  #00bacc,
  #26b6d2
);
$cursor: pointer;
* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  overflow: hidden;
  h1,
  h2,
  h3,
  h4,
  p,
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  header {
    display: $flex;
    align-items: $center;
    justify-content: space-between;
    background-color: $bg-white;
    padding: 1rem 8rem;
    z-index: 2;
    position: relative;
    z-index: 10;
    ul {
      display: $flex;
      li {
        color: $color-text;
        cursor: $cursor;
        position: relative;
        font-size: $s15;
        font-weight: $w3;
        &:not(:first-child) {
          margin-left: $s2;
        }
        &:hover {
          color: $color-primary;
          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -25px;
            width: 100%;
            height: 4px;
            background: $gradiant;
          }
        }
      }
    }
  }
  .req {
    cursor: $cursor;
    color: $bg-white;
    border: unset;
    background-image: $gradiant;
    padding: $s1 $s2;
    font-weight: $w7;
    border-radius: $s2;
    transition: background-image 0.3s ease;

    &:hover {
      opacity: 0.6;
    }
  }
  h2 {
    font-size: $s2;
    color: $color-primary;
    font-weight: $w4;
    margin-bottom: $s2;
  }
  .sectionOne {
    display: $flex;
    align-items: $center;
    justify-content: space-between;
    height: 650px;
    position: relative;
    padding: 0 8rem;
    background-color: #fafafa;
    .content {
      width: 41%;
      h1 {
        font-weight: $w3;
        font-size: 3.5rem;
        margin-bottom: $s2;
        color: $color-primary;
      }
      p {
        font-size: 1.25rem;
        color: $color-text;
        margin-bottom: $s2;
        font-weight: $w3;
      }
    }
    .imgOne {
      .top {
        position: absolute;
        top: -125px;
        right: -132px;
        z-index: 9;
      }
      .bottom {
        position: absolute;
        top: -240px;
        right: -452px;

        z-index: 8;
      }
    }
  }
  .sectionTwo {
    padding: 5rem 8rem;
    background-color: #f4f5f7;
    position: relative;
    z-index: 8;
    .why {
      p {
        width: 600px;
        color: $color-text;
        line-height: 1.65rem;
        font-size: $s1;
        margin-bottom: $s2;
      }
    }
    ul {
      display: $flex;
      margin-top: $s2;
      li {
        &:not(:last-child) {
          margin-right: $s2;
        }

        img {
          margin-bottom: $s2;
        }
        h3 {
          color: $color-primary;
          font-weight: $w4;
          margin-bottom: $s2;
          font-size: 1.5rem;
        }
        p {
          font-size: $s16;
          color: $color-text;
          width: 90%;
          line-height: 1.5rem;
        }
      }
    }
  }
  .sectionThree {
    padding: 5rem 8rem;
    background-color: #fafafa;
    ul {
      display: $flex;
      li {
        width: 25%;

        background-color: $bg-white;
        margin-right: 1.5rem;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        img {
          width: 100%;
          border-radius: 5px 5px 0 0;

          height: 200px;
        }
        .content {
          padding: $s1 1.5rem;
          div {
            color: $color-text;
            font-size: $s12;
            margin-bottom: $s15;
          }
          h3 {
            cursor: $cursor;
            color: $color-primary;
            font-weight: $w4;
            margin-bottom: $s15;
            font-size: $s1;
            &:hover {
              color: $color-hover;
            }
          }
          p {
            color: $color-text;
            font-size: $s14;
            line-height: 1.25rem;
          }
        }
      }
    }
  }
  footer {
    background-color: $color-primary;
    display: $flex;
    padding: 3rem 8rem;
    justify-content: space-between;
    .footerOne {
      display: $flex;
      align-items: $center;
      .linksAndLogo {
        display: $flex;
        flex-direction: $col;
        align-items: baseline;
        margin-right: $s2;

        .svgLogo {
          fill: $bg-white;
        }

        .links {
          margin-top: 3rem;
          display: $flex;
          div {
            margin-right: $s12;

            &:hover {
              cursor: $cursor;
              .svgLink {
                fill: $color-hover-footer;
              }
            }
          }
        }
      }
      .about {
        display: $flex;
        ul {
          color: #c6c7db;
          font-weight: 500;
          font-size: $s13;

          li {
            &:not(:last-child) {
              margin-bottom: $s1;
            }
            &:hover {
              cursor: $cursor;
              color: $color-hover-footer;
            }
          }
          &:nth-child(1) {
            margin: 0 $s2;
          }
          &:nth-child(2) {
            margin-left: 4rem;
          }
        }
      }
    }
    .footerTwo {
      display: $flex;
      flex-direction: $col;
      align-items: end;
      .req {
        align-self: end;
        &:hover {
          opacity: 0.9;
          background: linear-gradient(
              to right,
              #2dd264,
              #25d070,
              #20ce7a,
              #20cc84,
              #24ca8c,
              #0fc898,
              #00c6a2,
              #00c4ab,
              #00c1b9,
              #00bec4,
              #00bacc,
              #26b6d2
            ),
            #2dd264;
          background-blend-mode: screen;
        }
      }
      p {
        color: #8688a1;
        font-size: $s15;
        margin-top: 1.5rem;
      }
    }
  }
}
@media (max-width: 1200px) {
  .container {
    footer,
    .sectionThree,
    header,
    .sectionOne,
    .sectionTwo {
      padding-left: 4rem !important;
      padding-right: 4rem !important;
    }
    .sectionOne {
      .content {
        width: 35%;
        h1 {
          font-size: 2.7rem;
        }
        p {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
      .imgOne {
        .top {
          right: -220px;
        }
        .bottom {
          right: -620px;
        }
      }
    }
    .sectionTwo {
      .why {
        p {
          line-height: 1.5rem;
          font-size: $s14;
        }
      }
      ul {
        li {
          &:not(:last-child) {
            margin-right: $s12;
          }

          img {
            margin-bottom: $s1;
          }
          h3 {
            margin-bottom: $s1;
            font-size: 1.25rem;
          }
          p {
            width: 100%;
            line-height: 1.3rem;
          }
        }
      }
    }
    .sectionThree {
      ul {
        display: $flex;
        li {
          margin-right: 1rem;
          img {
            height: 150px;
          }
          .content {
            padding: $s1;
            div {
              font-size: $s10;
            }
            h3 {
              font-size: $s16;
            }
            p {
              font-size: $s12;
              line-height: 1rem;
            }
          }
        }
      }
    }
    footer {
      .footerOne {
        .about {
          ul {
            font-size: $s12;
          }
        }
      }
      .footerTwo {
        p {
          font-size: $s12;
        }
      }
    }
  }
}
@media (max-width: 845px) {
  .container {
    footer,
    .sectionThree,
    header,
    .sectionOne,
    .sectionTwo {
      padding-left: 1.2rem !important;
      padding-right: 1.2rem !important;
    }
    header {
      .hamburgerContainer {
        width: 100%;

        .hamburger {
          display: $flex;
          justify-content: space-between;
          position: fixed;
          width: 100%;
          box-sizing: border-box;
          top: 0;
          left: 0;
          padding: 1.5rem;
          background-color: $bg-white;
          z-index: 34;
        }
        .overLay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 33;
          opacity: 0;

          &.fadeIn {
            animation: fadeIn 0.3s forwards;
          }
          &.fadeOut {
            animation: fadeOut 0.3s forwards;
          }
        }
        .hamburgerNav {
          display: $flex;
          position: fixed;
          z-index: 34;
          flex-direction: $col;
          top: 0%;
          left: 25%;
          width: 50%;
          text-align: $center;
          opacity: 0;
          &.slideDown {
            animation: slideDown 0.3s forwards;
          }
          &.slideUp {
            animation: slideUp 0.3s forwards;
          }
          ul {
            box-sizing: border-box;
            border-radius: 5px;
            color: $color-primary;
            flex-direction: $col;
            padding: $s2 0;
            li {
              color: $color-primary;
              &:not(:first-child) {
                margin-left: 0;
                margin-top: 1.5rem;
              }
            }
            background-color: $bg-white;
          }
        }
        button {
          position: fixed;
          bottom: 15px;
          align-self: center;
        }
      }
    }
    .sectionOne {
      flex-direction: column-reverse;
      max-height: 830px;
      height: 100%;
      padding-bottom: $s2;
      .content {
        width: 100%;
        text-align: center;
        h1 {
          font-size: 2.8rem;
          margin-top: $s2;
        }
        p {
          font-size: 1rem;
          line-height: 1.5rem;
        }
      }
      .imgOne {
        display: $flex;
        align-items: center;
        .top {
          position: unset;
          top: 0;
          width: 100%;
          height: 100%;
          max-width: 600px;
          max-height: 800px;
          box-sizing: border-box;
        }
        .bottom {
          position: unset;
        }
        .bottomMobile {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 76%;
        }
      }
    }
    .sectionTwo {
      text-align: $center;
      width: 100%;
      padding-top: 3rem;
      padding-bottom: 3rem;

      box-sizing: border-box;
      .why {
        display: $flex;
        flex-direction: $col;
        align-items: $center;
        p {
          width: 50%;

          margin-bottom: $s1;
        }
      }
      ul {
        flex-direction: $col;
        li {
          display: $flex;
          flex-direction: $col;
          align-items: $center;
          width: 100%;

          &:not(:last-child) {
            margin-right: 0;
            margin-bottom: $s2;
          }

          p {
            width: 50%;
          }
        }
      }
    }
    .sectionThree {
      text-align: center;
      padding-top: 3rem;
      ul {
        display: $flex;
        flex-direction: $col;
        align-items: $center;
        width: 100%;
        li {
          border-radius: 5px;
          width: 80%;
          text-align: left;
          margin-right: 0rem;
          margin-bottom: $s2;
          margin-top: $s1;

          img {
            height: 100%;
          }
          .content {
            padding: $s1 $s2;
            div {
              font-size: $s12;
              margin: $s1 0;
            }
            h3 {
              font-size: $s1;
              margin: $s1 0;
            }
            p {
              font-size: $s15;
              line-height: 1.25rem;
              margin: $s1 0;
            }
          }
        }
      }
    }
    footer {
      flex-direction: $col;
      align-items: $center;
      .footerOne {
        flex-direction: $col;
        .linksAndLogo {
          margin-right: 0;
          .links {
            margin-top: $s1;
          }
        }
        .about {
          flex-direction: $col;
          align-items: $center;
          margin-top: $s1;

          ul {
            font-size: $s12;
            text-align: $center;
            &:nth-child(1) {
              margin: $s1 0rem;
            }
            &:nth-child(2) {
              margin: 0 0rem;
              margin-bottom: $s1;
            }
          }
        }
      }
      .footerTwo {
        align-items: $center;
        margin-top: $s1;
        .req {
          align-self: center;
        }
        p {
          font-size: $s13;
        }
      }
    }
  }
}
@media (max-width: 425px) {
  .container {
    .sectionOne {
      height: 710px;
      padding-bottom: $s2;
      .content {
        h1 {
          font-size: 2.25rem;
          margin-top: 0;
        }
        p {
          font-size: $s16;
        }
      }
      .imgOne {
        .top {
          position: unset;
          height: 600px;
          max-width: unset;
          max-height: unset;
          object-fit: contain;
          transform: translateY(-6px);
        }
        .bottom {
          position: unset;
          display: none;
        }
        .bottomMobile {
          position: absolute;
          left: -0vh;

          width: 100%;
          height: 100vh;
        }
      }
    }
    .sectionTwo {
      .why {
        p {
          width: 100%;
          font-size: $s13;
        }
      }
      ul {
        li {
          p {
            width: 100%;
            font-size: $s13;
          }
        }
      }
    }
    .sectionThree {
      ul {
        li {
          width: 100%;

          .content {
            padding: $s1;
            div {
              font-size: $s10;
              margin: $s10 0;
            }
            h3 {
              font-size: $s1;
              margin: $s10 0;
            }
            p {
              font-size: $s12;
              margin: $s10 0;
            }
          }
        }
      }
    }
    footer {
      .footerOne {
        .about {
          ul {
            font-size: $s13;
          }
        }
      }
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 20%;
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideUp {
  from {
    top: 20%;
    opacity: 1;
  }
  to {
    top: 0%;
    opacity: 0;
  }
}
